{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<!-- ======= Whu Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="section-title">
                
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="box">
                        <h4>{{ project.title }}</h4>
                        <img src="{{ vich_uploader_asset(project, 'imageFile') }}" alt="projectpic">
                        <p>{{ project.description }}</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Whu Us Section -->
{% endblock %}
