{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}
{% block body %}
    <div class="header-home">
        <h1 class="title header">Welcome</h1>
    </div>
    <div class="container-home">
        <div class="cards">
            <div class="card-wrapper">
                <!-- this item has to be dynamic -->
                <h3 class="title subtitle">By Sorange</h3>
                <div class="img-card"></div>
            </div>
            <div class="card-wrapper">
                <h3 class="title subtitle">By Sorange</h3>
                <div class="img-card"></div>
            </div>
            <div class="card-wrapper">
                <h3 class="title subtitle">By Sorange</h3>
                <div class="img-card"></div>
            </div>
        </div>
        <a class="btn" href="">go to projects.</a>
    </div>
    <hr class="border">
    <div class="container-explication">
        <div class="column">
            <p class="mb-text content-explication">
                is a global platform for all the students
                who would like to upload their projects.
                The goal is to create a global place to centralize them.
            </p>
            <p class="mb-text">Want to know more about us ?</p>
            <button class="btn" href="">go to faq.</button>
        </div>
        <img id="logo-explication" src="{{ asset('assets/logo/cid_logo.png') }}" alt="logo cid">
    </div>
    <div class="container-home dark">
        <h2 class="title subtitle">Latest News</h2>
        <div class="cards">
            <div class="card-wrapper">
                <!-- this item has to be dynamic -->
                <div class="img-card"></div>
            </div>
            <div class="card-wrapper">
                <div class="img-card"></div>
            </div>
            <div class="card-wrapper">
                <div class="img-card"></div>
            </div>
        </div>
        <a class="btn" href="">go to news.</a>
    </div>
{% endblock %}
