{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}
{% block body %}
    <div class="header-home">
        <h1 class="title header">Welcome</h1>
        <button class="btn" href="">go to projects.</button>
    </div>
    <div class="container-projects-home">
        <div class="column">
            <h3 class="title subtitle">By Sorange</h3>
            <div class="img-slider"></div>
        </div>
        <div class="column">
            <h3 class="title subtitle">By Sorange</h3>
            <div class="img-slider"></div>
        </div>
        <div class="column">
            <h3 class="title subtitle">By Sorange</h3>
            <div class="img-slider"></div>
        </div>
    </div>
    <hr class="sep-line">
    <div class="container-explication row">
        <div class="column">
            <p class="mb-text content-explication">
                CID is a global platform for all the students
                who would like to upload their projects.
                The goal is to create a global place to centralize them.
            </p>
            <p class="mb-text">Want to know more about us ?</p>
            <button class="btn" href="">go to faq.</button>
        </div>
        <img id="logo-explication" src="{{ asset('assets/logo/cid_logo.png') }}" alt="logo cid">
    </div>
{% endblock %}
