nav, .btn-nav {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

nav {
  background-color: #fbfbfb;
  padding: 1rem 2rem;
  margin-bottom: 40px;
  align-items: center;

  a {
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
}