footer {
    @include flex-row;
    @include center-align;
    justify-content: space-around;
    background-color: var(--black);
    padding: 3rem;
    a,p,h5 {
        color: var(--white);
    }
}
.f-container {
    gap: 20px;
    h5 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .links-f {
        @include flex-row;
        @include center-align;
        gap: 20px;
        width: 100%;
        p,a {
            font-size: 12px;
        }
        a {
            &:hover{
                text-decoration: underline;
            }
        }
        span {
            color: var(--primary);
        }
    }
}
.socials {
    @include flex-center-align;
    gap: 20px;
    img {
        cursor: pointer;
        width: 20px;
        height: fit-content;

        &:hover {
            transform: scale(1.05);
        }
    }
}