.header-home {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 30px;
}

//last projects div

.container-home {
  @include flex-column;
  @include center-align;
  margin-bottom: 30px;

  .cards {
    @include flex-wrap;
    @include center-justify;
    gap: 25px;
    .card-wrapper {
      width: max-content;
      .subtitle {
        padding:0.2em 0;
        font-size: 1.5em;
        font-weight: 400;
      }
      .img-card {
        width: 300px;
        height: 340px;
        border-radius: 10px;
        background-color: var(--black);
        margin-bottom: 55px;
      }
    }
  }
}

//
.border {
  margin: 0 auto;
  width: 950px;
}

//who are we ?
.container-explication {
  @include flex-row;
  @include center-align;
  justify-content: space-around;
  padding: 3rem;
  margin: 0 auto;
  width: 950px;
}

#logo-explication {
  width: 160px;
  height: 120px;
}
.mb-text {
  margin-bottom: 20px;
}
.content-explication {
  width: 500px;
  font-size: 20px;
  &:before {
    content: "CID";
    color: var(--primary);
  }
}

//latest news

.dark {
  align-items: unset;
  background-color: var(--black);
  margin-bottom: 0;
  .title {
    width: 900px;
    margin: 0 auto;
    padding: 1em;
    color: var(--white);
  }
  .cards {
    .card-wrapper {
      .img-card {
        background-color: var(--white);
      }
    }
  }
}