nav, .btn-nav {
  @include flex-row;
  gap: 50px;
}

nav {
  background-color: #fbfbfb;
  padding: 1rem 2rem;
  margin-bottom: 40px;
  @include center-align;

  a {
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
}