<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
        and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
            
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <nav>
            <img class="logo" src="{{ asset('assets/logo/cid_logo.png') }}" alt="">
            <ul>
                <li>home.</li>
                <li>news.</li>
                <li>projects.</li>
                <li>faq.</li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        <footer>
            <div class="footer-informations">
                <h5>Non-profit project,<br>For the love of Coding and Digital Innovation</h5>
                <div class="links-informations">
                    <p><span>© 2022 </span>| Lambda | All rights reserved</p>
                    <p>privacy policy</p>
                    <p><a href="">legal</a></p>
                    <p><a href="">terms of use</a></p>
                </div>
            </div>
            <div class="footer-links">
                <img src="/assets/logo/linkedin.png" alt="LinkedIn logo">
                <img src="/assets/logo/twitter.png" alt="Twitter logo">
                <img src="/assets/logo/instagram.png" alt="Instagram logo">
                <img src="/assets/logo/tiktok.png" alt="Tiktok logo">
                <img src="/assets/logo/Github.png" alt="Github logo">
            </div>
        </footer>
    </body>
</html>
