<div>
    <nav>
        <ul>
            <li class="active-nav"><a href="">Accueil</a></li>
            <li><a href="">Actualités</a></li>
            <li><a href="">Projets</a></li>
            <li><a href="">Axe DW</a></li>
            <li><a href="">FAQ</a></li>
        </ul>
        <ul>
            <li><a href="login">Login</a></li>
            <li><a href="">(logo)</a></li>
        </ul>
    </nav>
</div>