{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<section class="first-section-homepage">
    <h1 class="title">Bienvenue sur le site vitrine de l’axe ! </h1>
    <div class="visual">
        <input type="button" value="en savoir plus">
    </div>
</section>
<section class="site">
    <h2 class="title">Projet étudiant pour les étudiants.</h2>
    <div class="container">
        <div class="illu"></div>
        <p>Ce projet est réalisé dans le cadre du DevLab, vous pouvez retrouver notre petite équipe de talent par ici !</p>
    </div>
    <h2 class="title">Pourquoi ?</h2>
    <div class="container">
        <p id="right">Le but de ce site c’est de pouvoir proposer aux membres de l’axe d’avoir un endroit pour archiver et présenter ses projets étudiants tout au long de leur scolarité et de pouvoir évidemment continuer d’y accéder après l’obtention du diplôme ! Notre but n’est pas de remplacer Github, mais de créer un espace pour vous et plus facile pour vous vendre plus facilement lorsque vous allez chercher un stage/alternance ou emploi.</p>
    <div class="illu"></div>
    </div>
</section>
{% endblock %}
