<nav>
    <img class="logo" src="{{ asset('assets/logo/cid_logo.png') }}" alt="logo cid">
    <ul class="btn-nav">
        <li><a href="{{ path('home') }}">home.</a></li>
        <li><a>news.</a></li>
        <li><a>projects.</a></li>
        <li><a>faq.</a></li>
    </ul>
    <ul>
        <li><a href="{{ path('app_login') }}">login.</a></li>
    </ul>
</nav>